extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects[id].project_name}

        p.lead.text-light
          | #{projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        center
          h6 Technologies
          each val in projects[id].technologies
            a.button.skills #{val}

        center
          h6 See For Yourself
          a.button.contact(href=`${projects[id].live_link}`, target="_blank") Live Demo
          a.button.contact(href=`${projects[id].github_link}`, target="_blank") GitHub Repo
    
    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential emplyers will like to see. 
   
    each val in projects[id].image_urls
      img.image(src=`${val}`)
    